*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:#eee;
}
ul{
    list-style-type: none;
}
ul > li{
    margin-top: 0.7rem;
}

/* ------------------------------ HEADER ------------------------------ */
header{
    color:white;
    background-color: #255ee9;
}
.header-top{
    padding: 0.8rem 0;
}
.header-top nav{
    flex-basis: 70%;
}
.header-top > :not(nav){
    flex-basis: 15%;
}
header nav a{
    margin: auto 1rem;
    text-align: center;
}
.login{
    text-align: end;
}

.header-bottom{
    background: url("../img/jumbo.png") no-repeat;
    background-size: cover;
    background-position: 0 -1.5rem;
}
/* article#intro is the introduction in header-bottom */
#intro{
    width: 38rem;
    text-align: center;
    margin: auto;
}
.header-bottom p.desc{
    margin: 2rem 0;
}
.header-bottom .button-container button{
    margin-left: 2rem;
}

/* ------------------------------ MAIN ------------------------------ */
main > section:nth-child(even){
    background-color: #f6f6f6;
}
main > section:last-child{
    text-align: center;
}
main > section:last-child img{
    width: 95%;
}
main > section:last-child .desc{
    width: 80%;
    margin: 1.5rem auto;
}
main .title{
    font-size: 2.5rem;
}
.imgSec{
    width: 70%;
    text-align: center;
}
.imgSec img{
    width: 33rem;
}
.textSec{
    width: 30%;
    padding-top: 1.5rem;
    font-size: 1.05rem;
}

section.button-container h2{
    margin-bottom: 2rem;
}

/* ------------------------------ FOOTER ------------------------------ */
footer{
    padding: 4rem 0rem;
    background-color: #23272a;
}
/* footer top */
.footer-top aside{
    flex-basis: 30%;
}
.footer-top .selectSec img{
    height: 1rem;
    vertical-align: middle;
    margin: 1rem 0 ;
}
.footer-top .selectSec select{
    border:none;
    background: #0000;
    color: white;
    cursor: pointer;
}
.socialSec img{
    height: 1.2rem;
    margin-right: 1.5rem;
    vertical-align: middle;
    /* turn every img color into white */
    filter:  brightness(0) contrast(1) invert(1);
    -webkit-filter: brightness(0) contrast(1) invert(1);
}

.footer-top nav{
    flex-basis: 70%;
}
.footer-top nav .card{
    flex-basis: 25%;
}

/* footer divider */
#separator{
    border-top: 1px solid #7188d888;
    margin: 1.5rem auto;
}

/* ------------------------------ CLASSES ------------------------------ */
.container{
    min-width:25rem;
    width: 70%;
    max-width: 84rem;
    margin: 0 auto;
}
.logo{
    height: 1.7rem;
}
.big-padding-top{
    padding-top: 6rem;
}
.big-padding-bottom{
    padding-bottom: 8rem;
}
.waves{
    height: 5rem;
    background: white url('../img/wave.svg') no-repeat;
    background-size: cover;
    mix-blend-mode: screen;
    margin: 6.3rem 0;
}
.waves.head-down{
    transform: rotate(180deg);
}

/* flex */
.flex{
    display: flex;
}
.flex-rowrev{
    display: flex;
    flex-direction: row-reverse;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* text */
.title{
    font-size: 2.8rem;
}
.subtitle{
    font-size: 1.8rem;
}
.desc{
    line-height: 1.5rem;
    margin: 1.5rem 0;
}
.small-text{
    font-size: 0.8rem;
}
.bold-purple{
    color: #7188d8; 
    font-weight: bolder;
}
.star-text{
    padding-top: 1rem;
    background:url('../img/stars.svg') no-repeat center;
    background-size: contain;
}

/* BUTTON */
.button-container button{
    font-size: 1rem;
    padding:0.8rem 1.2rem;
}
/* standard = black button */
button {
    border: none;
    border-radius: 50px;
    padding:0.4rem 0.6rem;
    cursor: pointer;
    color: white;
    background-color: #23272a;
}
button:hover{
    background-color: #060708;
}
/* white button */
.btnWhite{
    color: black;
    background-color: white;
    
}
.btnWhite:hover{
    background-color: #eee;
}
/* purple button */
.btnPurple{
    background-color: #8ea1e1;

}
.btnPurple:hover{
    background-color: #788ccc;
}