*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:#eee;
}
ul{
    list-style-type: none;
}
ul > li{
    margin-bottom: 0.8rem;
}

/* ------------------------------ HEADER ------------------------------ */
header{
    color:white;
    background: url("../img/jumbo.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.headerSec-item{
    flex-basis: 70%;
    padding: 1rem 0.5rem;
}
.headerSec-item:not(nav){
    flex-basis: 15%;
}
header nav a{
    margin: auto 1rem;
    text-align: center;
}
.login{
    text-align: end;
}
.intro > section{
    width: 38rem;
    text-align: center;
}
.intro p.desc{
    margin: 2rem 0 0;
}
.intro .button-container button{
    margin-left: 2rem;
}

/* ------------------------------ MAIN ------------------------------ */
main > section,
.intro{
    padding: 5rem 0 8rem;
}
main > section:last-child{
    text-align: center;
}
main > section:last-child .desc{
    width: 80%;
    margin: 1.5rem auto;
}

.imgSec{
    width: 71%;
    text-align: center;
}
.imgSec img{
    width: 33rem;
}
.textSec{
    width: 29%;
    padding-top: 1.5rem;
}
.textSec .title{
    font-size: 2.5rem;
}

section.button-container h2{
    padding-top: 1rem;
    background:url('../img/stars.svg') no-repeat center;
    background-size: contain;
}

/* ------------------------------ FOOTER ------------------------------ */
footer{
    padding: 4rem 0 2.8rem;
    background-color: #23272a;
}
/* footer-top */
.footer-top{
    padding-bottom: 0.8rem;
}
.footer-top aside{
    width: 30%;
}
.footer-top .selectSec img{
    height: 1rem;
    vertical-align: middle;
    margin: 1rem 0 ;
}
.footer-top .selectSec select{
    border:none;
    background: #0000;
    color: white;
    cursor: pointer;
}
.footer-top nav{
    width: 70%;
}
.footer-top nav .card{
    width: 25%;
}
.socialSec img{
    height: 1.2rem;
    vertical-align: middle;
    filter:  brightness(0) contrast(1) invert(1);;
    -webkit-filter: brightness(0) contrast(1) invert(1);
    margin-right: 1.5rem;
}

.footer-bottom{
    border-top: 1px solid #7188d888;
    justify-content: space-between;
    padding: 1.5rem 0;
}
.footer-bottom .logo{
    height: 1.8rem;
}

/* ------------------------------ CLASSES ------------------------------ */
.container{
    min-width:25rem;
    width: 70%;
    max-width: 84rem;
    margin: 0 auto;
}

/* flex */
.flex{
    display: flex;
}
.flex-rowrev{
    display: flex;
    flex-direction: row-reverse;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marginAuto{
    margin: auto;
}

/* text */
.title{
    font-size: 2.8rem;
}
.subtitle{
    font-size: 1.8rem;
}
.desc{
    line-height: 1.5rem;
    margin: 1.5rem 0;
}
.small-links{
    /* padding:0.8rem 0; */
    font-size: 0.8rem;
}
.bold-purple{
    color: #7188d8; 
    font-weight: bolder;
}

/* buttons */
.button-container{
    justify-content: space-between;
}
.button-container button{
    font-size: 1rem;
    padding:0.8rem 1.2rem;
}
/* standard = black button */
footer button,
.header-top button{
    margin: 0;
}
button {
    border: none;
    border-radius: 50px;
    padding:0.5rem 0.7rem;
    margin-top: 1.5rem;
    cursor: pointer;
    color: white;
    background-color: #23272a;
}
button:hover{
    background-color: #060708;
}
/* white button */
.btnWhite{
    color: black;
    background-color: white;
    
}
.btnWhite:hover{
    background-color: #eee;
}

/* purple button */
.btnPurple{
    background-color: #8ea1e1;

}
.btnPurple:hover{
    background-color: #788ccc;
}

.bg-lightgray{
    background-color: #f6f6f6;
}